.imagenDeQuienSoy{
    width: 100%;
   
    }
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;}

.margin {margin-bottom: 45px;}

.bg-1 { 
    background-color: #eb5a49; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: #fac632; /* Dark Blue */
    color: #555555;
}
.bg-3 { 
    background-color: #f39331; /* White */
    color: #ffffff;
}
.bg-4 { 
    background-color: #0c3656; /* Black Gray */
    color: #fff;
}
.bg-4 { 
    background-color: #686868; /* Black Gray */
    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.img-circle {
    border-radius: 50%;
}

.bg-2 p {
    padding: 0 7rem;
}

.bg-3 p {
    padding: 0 2rem;
}

.fa-lg {
    font-size: 3rem;
}

.icon {
    padding-bottom: 3rem;
}

a:hover {
    color: #929292;
}