<div class="box is-orange">
  <div class="columns">
    <div class="column is-1">
      <span class="icon is-large">
        <img src="./assets/imagenes/hitit.svg">
      </span>
    </div>
    <div class="column has-text-centered">
      <h2>Hit It !</h2>
    </div>
    <div class="column is-1">
    </div>
  </div>

  <form id="juego" name="juego">

    <div class="has-text-centered" id="valorRandom">
      <h1 class="has-text-white">{{nuevoJuego.valorRandom}}</h1>
    </div>


    <div class="field">
      <div class="control has-text-centered">
        <input id=inputValor [(ngModel)]="nuevoJuego.valorIngresado" name="valorIngresado" class="input is-large" />
      </div>
    </div>


    <div class="field">
      <div class="control has-text-centered">
        <button *ngIf="nuevoJuego.valorRandom!=''" (click)="verificar()" class="button is-large is-info">Verificar</button>
      </div>
    </div>

    <p class="is-large is-white">NIVEL {{nuevoJuego.nivel}}</p>

  </form>

</div>