
.is-orange {
    background-color: #f39331;
}

.box h2 {
    font-size: 2rem;
    color: white;
}

#valorRandom {
    font-size: 5rem;
}

input {
    width: 4rem;
}

.is-counter {
    margin: 4rem;
    background-color: #fdd833;
    width: 15rem;
}

.is-counter p {
    font-size: 4rem;
}

.is-level {
    color: #0c3656;
    font-size: 2rem;
}


.is-centered {
    display: flex;
    justify-content: center;
    align-items: center; 
}

[hidden] {
    display: none !important;
}
.modal .message {
    background-color: #c03724;
    position:  absolute;
    top: 82%;
    font-size: 2rem;
    color: #54130a;
}