<app-cabecera> </app-cabecera>

<div class="container">
  <div class="columns smaller-top-margin">
    <div class="column">
      <div class="box" routerLink="/Games" style="background-color:#eb5a49">
        <span class="icon is-large">
          <img src="./assets/imagenes/joystick.svg">
        </span>
        <h4>Games</h4>
        <p>Conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en
          el proceso de aprendizaje.</p>
      </div>
    </div>
    <div class="column">
      <div class="box" routerLink="/Listado" style="background-color:#f6aa31">
        <span class="icon is-large">
          <img src="./assets/imagenes/trophy.svg">
        </span>
        <h4>Results</h4>
        <p>Los listados de los resultados con ordenamiento y busqueda</p>
      </div>
    </div>
    <div class="column">
      <div class="box" routerLink="/Jugadores" style="background-color:#131149">
        <span class="icon is-large">
          <img src="./assets/imagenes/players.svg">
        </span>
        <h4>Players</h4>
        <p>Listado de jugadores</p>
      </div>
    </div>
    <!--div class="column">
      <div class="box" routerLink="/Games">
        <span class="icon is-large">
          <img src="./assets/imagenes/Configuracion.png">
        </span>
          <h4 class="media-heading">Configuraci&oacute;n</h4>
        <p>Ajustes de la aplicacion y los métodos de autentificación</p>
      </div>
    </div-->
  </div>
</div>