<div style="margin-top:1rem">
  <div class="columns is-multiline is-mobile">
    <div *ngFor="let juego of juegos" class="column is-one-third">
      <div class="box is-{{juego.color}} row-{{juego.row}}" routerLink="/Juegos/{{juego.route}}">
        <div class="columns">
          <div class="column is-5">
            <span class="icon is-extralarge">
              <img src="./assets/imagenes/{{juego.imagen}}">
            </span>
          </div>
          <div class="column has-text-centered is-centered">
            <h2>{{juego.nombre}}</h2>
          </div>
        </div>
        <div class="description" style="display:none">{{juego.descripcion}}</div>
      </div>
    </div>
  </div>
</div>