/*img {
    position: absolute;
    height: 5rem;
}*/

.box {
    position: relative;
    height: auto;
}

.box:hover .description {
    display: block !important;
}

.box h2 {
    font-size: 2rem;
}

.box h2, .box div {
    color: white;
}

.is-red {
    background-color: #eb5a49;
}

.is-orange {
    background-color: #f39331;
}

.is-yellow {
    background-color: #fac632;
}

.is-lightblue {
    background-color: #2675a5;
}

.is-blue {
    background-color: #0c3656;
}

.is-darkred {
    background-color: #b54324;
}

.is-extralarge {
    height: 7rem;
    width: 6rem;
}

.is-centered {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.row-2 {
    margin-top: 1rem;
}