<app-cabecera> </app-cabecera>

<div class="container">
  <div class="box" style="margin: 4rem 20rem;">
    <form action="return true;">

      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Name" [(ngModel)]="nombre" name="uname" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="text" placeholder="Username" [(ngModel)]="usuario" name="uname" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input password" type="password" placeholder="Password" [(ngModel)]="clave1" name="psw" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Repeat Password</label>
        <div class="control">
          <input class="input password" type="password" placeholder="Password" [(ngModel)]="clave2" name="psw" required>
        </div>
        <p *ngIf="clave1!==clave2" class="help is-danger">Passwords are not equal</p>
      </div>

      <div class="field">
        <div class="control has-text-right">
          <label _ngcontent-c1="" class="checkbox">Remember me <input _ngcontent-c1="" checked="checked" type="checkbox"></label>
        </div>
      </div>

      <div class="field" style="margin: 2rem 0">
        <div *ngIf="logeando" class="control has-text-centered">
          <button class="button is-link is-large" (click)="signup()">Sign Up</button>
        </div>
        <div *ngIf="!logeando" class="progress">
          <progress class="progress is-link" value="{{progreso}}" [style.width]="ProgresoDeAncho"></progress>
        </div>
      </div>
    </form>
  </div>
</div>