<!--The content below is only a placeholder and can be replaced.-->
<div class="box is-yellow">
  <div class="columns">
    <div class="column is-1">
      <span class="icon is-large">
        <img src="./assets/imagenes/guess.svg">
      </span>
    </div>
    <div class="column has-text-centered">
      <h2 class="title">Math Speed</h2>
    </div>
    <div class="column is-1">
    </div>
  </div>


  <form name="juego" class="has-text-centered" autocomplete="off">

    <input autocomplete="false" name="hidden" type="text" style="display:none;">

    <div *ngIf="nuevoJuego.numeroSecreto!=null">
      <h3>Try and guess the number!</h3>
      <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="Here..." name="numeroIngresado" class="input is-large" />
    </div>

    <button *ngIf="nuevoJuego.numeroSecreto!=null&&nuevoJuego.numeroIngresado" (click)="verificar()" class="button is-large is-info">Verificar</button>

    <div *ngIf="thinking" class="is-centered">
      <img src="./assets/waiting2.gif" alt="" class="thinking">
    </div>

    <div class="title">{{mensajes}}</div>

  </form>


  <div *ngIf="nuevoJuego.gano" class="modal is-centered">
    <img src="./assets/imagenes/winner.svg" alt="" (click)="closeModal()">
  </div>
</div>