
.is-yellow {
    background-color: #fac632;
}

.box h2 {
    font-size: 2rem;
    color: white;
}

.box {
    height: 28rem !important;
}

h3 {
    font-size: 1.7rem;
    color: rgb(71, 71, 71);
}

input {
    width: 8rem;
    font-size: 2rem;
    margin: 3rem 0;
}

.is-centered {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.thinking {
    height: 3rem;
}