.box {
    background-color: #eeeeee;
}

button:hover {
    opacity: 0.8;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.label {
    font-weight: normal !important;
}