<!--The content below is only a placeholder and can be replaced.-->
<div class="box is-blue">
  <div class="columns">
    <div class="column is-1">
      <span class="icon is-large">
        <img src="./assets/imagenes/math.svg">
      </span>
    </div>
    <div class="column has-text-centered">
      <h2>Math Speed</h2>
      <h2 *ngIf="nuevoJuego.operador!=''" class="has-text-warning" style="margin-top:2rem;">Nivel {{nuevoJuego.nivel}}</h2>
    </div>
    <div class="column is-1">
    </div>
  </div>

  <form class="centered" name="juego">
    <div *ngIf="nuevoJuego.operador==''" class="is-centered">
      <h2><button (click)="NuevoJuego()" class="button is-info is-large">Start</button></h2>
    </div>

    <div *ngIf="nuevoJuego.operador!=''">
      <div class="columns">
        <div class="column">
          <div class="box game-values">
            <span>{{nuevoJuego.numeroUno}}</span>
          </div>
        </div>
        <div class="column">
          <div class="box game-values">
            <span>{{nuevoJuego.operador}}</span>
          </div>
        </div>
        <div class="column">
          <div class="box game-values">
            <span>{{nuevoJuego.numeroDos}}</span>
          </div>
        </div>
      </div>

      <div>
        <input [(ngModel)]="nuevoJuego.respuestaUser" placeholder="Answer..." name="respuestaUser" class="input is-large" />
      </div>
      
      <button *ngIf="!isEnd" (click)="verificar()" class="button is-primary is-large">Verificar | {{Tiempo}}</button>
    </div>
      
  </form>

  <div *ngIf="isEnd&&!nuevoJuego.gano" class="modal is-centered">
    <div class="box message">
      <span>{{mensajeLooser}}</span>
    </div>
    <img src="./assets/imagenes/looser.svg" alt="" (click)="closeModal()">
  </div>
  <div *ngIf="isEnd&&nuevoJuego.gano" class="modal is-centered">
    <img src="./assets/imagenes/winner.svg" alt="" (click)="closeModal()">
  </div>
</div>