/* You can add global styles to this file, and also import other style files */

@import "bulma";

body {
    background-color: #bde0e0 !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    height: 100vh;
    min-height: 100vh;
}

.container {
    padding-top: 6rem;
}

.modal {
    background-color: #292929e0;
    position: fixed;
    z-index: 9999;
}

.creator {
    position: absolute;
    bottom: 0.5rem;
    left:0.8rem;
    color: rgb(100, 100, 100);
}

.creator:hover {
    color: rgb(70, 70, 70);
    cursor: pointer;
}
