/* You can add global styles to this file, and also import other style files */

@import "bulma";

.body {
    background-color: #bde0e0;
    height: -webkit-fill-available;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    padding-top: 6rem;
}


.modal {
    background-color: #292929e0;
    position: fixed;
    z-index: 9999;
}
