<div class="panel panel-default">
  <div class="columns">
    <div class="column is-2 is-centered">
      <a class="button banner-button is-orange" routerLink="/Principal" >Home</a>
    </div>
    <div class="column has-text-centered">
      <img class="banner-image" src="./assets/imagenes/banner.svg" alt="Game Time">
    </div>
    <div class="column is-1 is-centered">
      <a class="button banner-button is-orange" routerLink="/Login">Log in</a>
    </div>
    <div class="column is-1 is-centered">
      <a class="button banner-button is-transparent" routerLink="/Registro">or Sign up</a>
    </div>
  </div>
</div>
