.panel
{
    height: auto;
    background-color: #7abbbf;
    width: 100%;
    position: fixed;
    z-index: 20;
}

.banner-image {
    height: 6rem;
}

.banner-button {
    border: none;
    font-weight: bold;
    text-decoration: none;
}

.is-orange {
    color: white !important;
    background-color: #f39331;
}

.is-transparent {
    color: #0c3656 !important;
    background-color: transparent;
}

.is-centered {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#signout {
    display: none;
    text-decoration: none;
}

#loggedInBtns:hover #hello{
    display: none;
}

#loggedInBtns:hover #signout {
    display: block;
    color:white;
}